@font-face {
  font-family: 'Zenit';
  src:  url('fonts/Zenit.eot?auxquf');
  src:  url('fonts/Zenit.eot?auxquf#iefix') format('embedded-opentype'),
    url('fonts/Zenit.ttf?auxquf') format('truetype'),
    url('fonts/Zenit.woff?auxquf') format('woff'),
    url('fonts/Zenit.svg?auxquf#Zenit') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Zenit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e909";
}
.icon-arrow_left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-google:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e900";
}
